.flex-container {
	display: flex;
	flex-wrap: wrap;
}

#canvasDiv{
	width:100%;
	display:flex;
}


#mainDiv{
	text-align:center;
	width:100%;
}
.canvasParentDiv{
	width : 400px;
	height : 400px;
	margin : 10px;
	border : 5px solid black;
}
.canvas{
	width:400px;
	height:400px;
}
